<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.2" targetFramework="net40-client" requireReinstallation="true" />
  <package id="Nancy" version="1.4.4" targetFramework="net40-Client" />
  <package id="NetTopologySuite" version="1.13.2" targetFramework="net40-client" requireReinstallation="true" />
  <package id="NetTopologySuite.IO.GeoTools" version="1.13.2" targetFramework="net40-client" requireReinstallation="true" />
</packages>