<?xml version="1.0"?>
<configuration>

  <!-- Ensures that Bing Maps WPF control can access Internet behind a proxy -->
  <system.net>
    <defaultProxy useDefaultCredentials="true"></defaultProxy>
  </system.net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
